.wrapper-cards {
  margin-top: 20px;
  border: 1px gainsboro solid;
  width: 700px;
  padding: 25px;
  align-items: self-end;
  padding-left: 40px;
}
.wrapper {
  display: flex;
  margin-top: 200px;
  align-items: center;
}
.img-size {
  width: 100px;
  height: 100px;
}
.cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 25px;
}
.scroll-items {
  overflow-y: scroll;
  height: 700px;
}
.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}
.wigth-line {
  width: 550px;
}
.width-position {
  margin-top: 460px;
}
