* {
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    font: inherit;
}

footer,
header {
    display: block;
}

body {
    background-color: #fefaf3;
}

.header {
    background-color: #0b013c;
    overflow: hidden;
}

.header-wrap {
    max-width: 1140px;
    background-image: url("../img/header-bg.png");
    background-size: cover;
    padding: 20px 110px;
    margin-right: 80px;
    color: #ffffff;
}

.header-wrap .section_link {
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    padding: 3px 6px;
}

.header-wrap .header_title {
    margin-top: 100px;
    font-size: 5.6rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.header-wrap .header_heading {
    margin-top: 15px;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
}

.header-wrap .header_text {
    margin-top: 30px;
    width: 40%;
    margin-left: 0px;
    font-family: "Open Sans";
    font-style: oblique;
}

.header-wrap .header_button_wrap {
    margin-top: 4%;
    margin-bottom: 20%;
}

.header-wrap .header_button_wrap .header_input {
    padding: 5px 80px 5px 10px;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.header-wrap .header_button_wrap .header_button {
    background-color: #f8cb8a;
    margin-left: 10px;
    padding: 5px 17px;
    font-family: "Roboto", sans-serif;
    border-color: #f8cb8a;
    font-size: 0.9rem;
}

.header-wrap .header_button_wrap .header_button:hover {
    background-color: #f6bb66;
}

.section {
    margin: 10px 110px;
    background-color: #fefaf3;
}

.section_card_wrap {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
}

.section_card_wrap .diviser_figure {
    width: 100px;
    height: 7px;
    background-color: #f8cb8a;
    border: none;
    margin-top: 17px;
}

.section_card_wrap .section_card_first {
    text-align: center;
}

.section_card_wrap .section_card_first .section_card_heading {
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

.section_card_wrap .section_card_first .section_card_title {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-top: 17px;
    font-size: 2.5rem;
}

.section_card_wrap .section_card_first .section_card_text {
    color: #808080;
    font-family: "Open Sans";
    font-style: oblique;
    width: 90%;
    font-size: 0.9rem;
    margin-top: 20px;
}

.section_card_wrap .section_card_second {
    flex-direction: row;
    display: flex;
    margin-top: 100px;
}

.section_card_wrap .section_card_second .section_card_img {
    height: auto;
    width: 67%;
    min-height: 470px;
}

.section_card_wrap .section_card_second .section_card_right_container {
    background-color: #ffffff;
    padding: 20px;
}

.section_card_wrap .section_card_second .section_card_right_container .section_card_heading {
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

.section_card_wrap .section_card_second .section_card_right_container .section_card_title {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-top: 17px;
    font-size: 2.5rem;
}

.section_card_wrap .section_card_second .section_card_right_container .section_card_text {
    color: #808080;
    font-family: "Open Sans";
    font-style: oblique;
    font-size: 0.9rem;
    margin-top: 20px;
}

.section_card_wrap .section_card_second .section_card_right_container .diviser_figure {
    width: 100px;
    height: 7px;
    background-color: #f8cb8a;
    border: none;
    margin-left: 0px;
    margin-top: 17px;
}

.section_card_wrap .section_card_container_third {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.section_card_wrap .section_card_container_third .section_card_text {
    font-family: "Open Sans";
    font-style: oblique;
    font-size: 0.9rem;
    margin-top: 20px;
    padding: 0px 40px 10px 25px;
}

.section_card_wrap .section_card_container_third .section_card_img {
    height: auto;
    width: 100%;
}

.section_card_wrap .section_card_container_third .section_card_third_one {
    margin-right: 50px;
    background-color: #ffffff;
}

.section_card_wrap .section_card_container_third .section_card_third_two {
    background-color: #ffffff;
}

.section_banner {
    display: flex;
    text-align: center;
    background-color: #0b013c;
    color: #ffffff;
}

.section_banner .section_banner_text_wrap {
    background-image: url("../img/space-bg.png");
}

.section_banner .diviser_figure {
    width: 100px;
    height: 7px;
    background-color: #f8cb8a;
    border: none;
    margin-top: 20px;
}

.section_banner .section_banner_heading {
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

.section_banner .section_banner_title {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    font-size: 2.5rem;
    width: 55%;
}

.section_banner .section_banner_text {
    font-family: "Open Sans";
    font-style: oblique;
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 65%;
}

.footer-wrap {
    color: #ffffff;
    background-image: url("../img/footer-bg.jpeg");
    background-size: cover;
    display: flex;
    min-width: 400px;
}

.footer-wrap .footer_logo {
    align-self: center;
    margin-left: 110px;
}

.footer-wrap .footer_title {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
    font-size: 2.1rem;
}

.footer-wrap .footer_text {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    margin-top: 20px;
    width: 47%;
    margin-left: 0px;
    line-height: 1.6;
}

.footer-wrap .footer_text .footer_href {
    text-decoration: none;
    color: #ffffff;
}

.footer-wrap img.section_card_img {
    height: auto;
    width: 32%;
    margin: 80px 154px 60px 0px;
}