* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit; }

footer,
header {
  display: block; }

body {
  background-color: #21232e; }

.header {
  background-image: url(../img/m-h-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  background-position: 100% 50%;
  border-bottom-right-radius: 40%; }

.text-style, .header-wrap .header_heading {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif; }

.landing-logo .landing-logo span {
  text-align: center; }

.header-wrap {
  padding-left: 140px; }
  .header-wrap .landing-logo {
    display: flex;
    padding-top: 10px;
    font-family: "Fresca", sans-serif; }
    .header-wrap .landing-logo p {
      color: #fff;
      flex-direction: column;
      display: flex;
      margin-left: 20px;
      font-weight: bold;
      font-size: 1.4rem; }
    .header-wrap .landing-logo span {
      font-weight: normal;
      font-size: 0.6rem;
      margin-top: -5px;
      align-self: center; }
    .header-wrap .landing-logo img {
      height: 50px;
      width: 50px; }
  .header-wrap .header_heading {
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: 4rem;
    color: #fff;
    position: relative;
    width: 500px;
    z-index: 2; }
    .header-wrap .header_heading:after {
      content: '';
      position: absolute;
      top: 165px;
      bottom: 88px;
      right: 224px;
      height: 56px;
      width: 279px;
      background-color: #ff4e33;
      z-index: -1; }
  .header-wrap .header_text {
    width: 690px;
    font-family: "Fresca", sans-serif;
    color: #fff;
    width: 690px;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 0.2px; }
  .header-wrap .header_button {
    margin-top: 70px;
    padding: 12px 40px;
    background-color: #e3ac00;
    color: #ffffff;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    border-radius: 3px; }
  .header-wrap .login {
    margin-left: 80px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.15rem; }

.section {
  padding-top: 35px; }
  .section .section_text {
    font-size: 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 2000px;
    position: relative;
    z-index: 2; }
    .section .section_text:after {
      content: '';
      position: absolute;
      top: 6px;
      bottom: 88px;
      right: 800px;
      height: 42px;
      width: 191px;
      background-color: #ff4e33;
      z-index: -2; }

.section_card_wrap {
  margin: 20px 420px; }

.section_card {
  display: flex;
  padding: 10px;
  border-radius: 3px;
  background-color: #3b3f50;
  margin-bottom: 10px; }
  .section_card .section_card_img {
    width: 971px;
    height: 285px; }
  .section_card .section_card_right_container {
    color: #c0c3ce;
    padding: 30px 55px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: "Fresca", sans-serif; }
  .section_card .section_card_heading {
    color: ivory;
    font-size: 1.2rem;
    margin-bottom: 60px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif; }
  .section_card .section_card_text {
    line-height: 1.7;
    letter-spacing: 0.6px; }
  .section_card .section_link {
    margin-top: 30px;
    color: #c0c3ce; }

.section_banner {
  background-image: linear-gradient(to right, #db9f08, #932d52);
  margin: 80px 400px;
  display: flex;
  justify-content: space-between;
  padding: 25px 100px;
  border-radius: 5px;
  position: relative;
  z-index: 1; }
  .section_banner .section_banner_text_wrap {
    font-family: "Fresca", sans-serif; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.65rem;
      color: #fff;
      font-weight: bold;
      width: 400px;
      position: relative;
      z-index: 3; }
      .section_banner .section_banner_text_wrap .section_banner_heading:after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 88px;
        right: 233px;
        height: 26px;
        width: 60px;
        background-color: #ff4e33;
        z-index: -3; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      color: #c0c3ce; }
  .section_banner .section_banner_button {
    padding: 12px 40px;
    background-color: #e3ac00;
    color: #ffffff;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    border-radius: 3px;
    margin: 20px; }

.footer {
  background-color: #3b3f50;
  color: #c0c3ce;
  z-index: -4;
  margin-top: -150px; }
  .footer .footer-wrap {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 130px 100px 55px; }
  .footer .footer_logo.landing-logo {
    display: flex;
    padding-top: 10px;
    font-family: "Fresca", sans-serif; }
    .footer .footer_logo.landing-logo p {
      color: #c0c3ce;
      flex-direction: column;
      display: flex;
      margin-left: 20px;
      font-weight: bold;
      font-size: 1.4rem; }
    .footer .footer_logo.landing-logo span {
      font-weight: normal;
      font-size: 0.6rem;
      margin-top: -5px;
      align-self: center; }
    .footer .footer_logo.landing-logo img {
      height: 50px;
      width: 50px; }
  .footer .footer_text {
    width: 300px;
    text-align: left;
    font-family: "Fresca", sans-serif;
    line-height: 1.4; }
  .footer .footer-cr {
    font-family: "Fresca", sans-serif; }
