.from-size {
  max-width: 450px;
  border: 1px gainsboro solid;
  border-radius: 5px;
  padding: 30px;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-size {
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
}
.eye {
  z-index: 1;
  cursor: pointer;
}
.error {
  width: 400px;
  background-color: #f2c8c4;
  padding: 10px;
  color: #a61103;
}
.position-form {
  margin-top: 220px;
}
