.modal-wrapper {
  border: 1px gray solid;
  border-radius: 5px;
  background-color: aliceblue;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 27px;
  position: absolute;
  z-index: 10;
  position: fixed;
  top: 100px;
}
.margin-add {
  margin-bottom: 5px;
}
.error-text {
  color: red;
}
.title-font {
  color: #58555a;
  font-weight: 400;
  margin-bottom: 10px;
}
.background-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 215vh;
  transition: opacity 0.2s ease;
}
