.container {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: auto;
  height: auto;
  border-radius: 4px;
  font-size: 27px;
  padding: 15px 20px;
  margin-top: -200px;
  border: 1px #f2d64b solid;
}
.line {
  margin-top: 10px;
  border: 1px #f2d64b solid;
  width: auto;
}
.info-wrapper {
  font-size: 23px;
  margin-top: 10px;
  text-align: start;
}
.color-link {
  color: #ffffff;
}
.color-link:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.color-link:hover {
  color: #f2d64b;
  background-color: transparent;
  text-decoration: underline;
}
.color-link:active {
  color: #bfa93b;
  background-color: transparent;
  text-decoration: underline;
}
