.travel_time {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: normal;
  text-align: center;
}
.travel_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.travel_date {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #58555a;
  font-weight: 500;
}
.between-values {
  padding: 10px;
}
.stops {
  font-size: 12px;
}

.btn.btn-danger {
  border-color: #f25c05;
  background-color: #f25c05;
  color: #fff;
}

.btn.btn-danger:hover {
  border-color: #ff8124;
  background-color: #ff8124;
}
.btn-danger:focus {
  border-color: #ff8124;
  background-color: #ff8124;
}
.btn-danger:active {
  border-color: #ff8124;
  background-color: #ff8124;
}
.wrapper {
  background-color: white;
  text-align: center;
  width: max-content;
  padding: 5px 20px;
}
.img-turkish {
  margin: 30px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.border-element {
  border: 1px solid gainsboro;
  background-color: white;
  margin: 0px 0px 11px 70px;
  border-radius: 5%;
  padding: 10px;
}
.d-flex.row.border-element {
  margin: 0px 30px 11px 70px;
  width: -webkit-fill-available;
  padding-right: 40px;
}
button.btn.btn-danger {
  width: -webkit-fill-available;
  display: inline-grid;
}

