.background-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  transition: opacity 0.2s ease;
}
.modal-wrapper {
  border-radius: 5px;
  background-color: #fff;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 27px;
  position: absolute;
  z-index: 10;
  position: fixed;
  top: 100px;
  max-height: 459px;
}
.image {
  width: 280px;
}
.button-size {
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
}
.close-button {
  position: relative;
  margin-top: -23px;
  margin-right: -17px;
}
.comment-wrapper {
  margin: 0px 20px;
  border: 0.5px #f2f0eb solid;
  border-radius: 5px;
  padding: 15px;
  height: fit-content;
  width: 210px;
  max-height: 500px;
  overflow: auto;
}
.data-section {
  color: grey;
  font-size: 14px;
  display: flex;
}
.comments {
  overflow: auto;
}
.margin-style {
  margin-bottom: -27px;
}
.margin-top {
  margin-top: -24px;
}
.margin-bottom {
  margin-bottom: 27px;
}
.margin-custom {
  margin-top: 30px;
}
.text-section {
  text-align: start;
}
