* {
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    font: inherit;
}

footer,
header {
    display: block;
}

.header-navigation {
    background-color: #99ccff;
    display: flex;
    min-height: 50px;
    color: #fff;
}

.header_title_page {
    display: flex;
}

.header-navigation .title_page {
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

.title_page span {
    color: #162b4d;
}

.navigation {
    display: flex;
    margin-right: 73px;
}

.navigation .section_nav {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.navigation .section_nav:hover {
    background-color: #162b4d;
    opacity: 60%;
}

.text-header {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.header-text .text-header {
    display: contents;
}

.text-content {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
}

.header-text .text-content {
    margin-top: 9px;
}

.header-text {
    background-image: url('../img/section1.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-left: 25px;
}

.section {
    display: flex;
    padding: 20px;
}

.post {
    display: flex;
}

img {
    width: 50%;
    object-fit: cover;
}

.post-1 {
    background: #F3D250;
}

.post-1:hover {
    opacity: 70%;
}

.post-2:hover {
    opacity: 70%;
}

.post-3:hover {
    opacity: 70%;
}

.post-4:hover {
    opacity: 70%;
}

.post-2 {
    background: #8D8741;
}

.post-3 {
    background: #659DBD;
}

.post-4 {
    background: #DAAD86;
}

.section2 {
    display: flex;
    padding: 15px;
    color: #484848;
}

.post:nth-child(even) .section2 {
    order: -1;
    text-align: right;
    flex-direction: row-reverse;
}

.date_publish {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: center;
}

.date_publish .date {
    font-size: 1.8rem;
    margin: 10px;
}

.post-text .text-content {
    padding-top: 15px;
}

.section_news {
    border: 1px solid black;
    margin: 0 0 20px 20px;
}

.section_news .news {
    width: 100%;
}

.section_news .text-content {
    margin-top: 20px;
    margin-bottom: 30px;
}

.post-content {
    padding: 20px;
}

.button_learn {
    font-size: 0.8rem;
    background-color: white;
    padding: 5px;
}

.button_learn:hover {
    border-style: ridge;
    border-left: none;
    border-right: none;
    border-top: none;
}

.footer {
    background-color: #162b4d;
}

.footer-wrap {
    color: #fff;
    display: flex;
    font-weight: 100;
    height: 90px;
    align-items: center;
}

@media (min-width:481px) and (max-width: 768px) {
    body {
        padding: 10px;
        padding-top: 0;
    }
    .bar_navigation {
        width: 23px;
        height: 3px;
        margin: 3px;
        background-color: #162b4d;
        display: flex;
    }
    .header_title_page {
        display: flex;
        flex-direction: column-reverse;
        align-self: center;
    }
    .header-navigation {
        min-height: 120px;
    }
    .header-navigation nav {
        display: none;
    }
    .header-navigation .text-content {
        text-align: center;
        padding: 30px 0;
    }
    .section .post {
        flex-flow: column nowrap;
    }
    .section2 {
        display: flow-root;
    }
    .text-header {
        font-size: 1.9rem;
    }
    .section .post:nth-child(even) .section2 {
        order: 0;
        text-align: left;
        padding: 20px 35px 20px 18px;
    }
    .post:nth-child(even) .section2 {
        order: 1;
        text-align: right;
        flex-direction: row-reverse;
    }
    img.section1 {
        width: 100%;
        object-fit: cover;
    }
    .aside-wrap {
        width: 130%;
    }
    .post .section2 {
        flex-basis: 180px;
    }
    .post-link:last-child .section2 {
        display: block;
    }
    .post:last-child .date_publish {
        margin-bottom: 20px;
    }
    .footer {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-wrap {
        min-height: 125px;
        flex-direction: column;
        padding-top: 20px;
        line-height: 1.6;
    }
}

@media (max-width:480px) {
    body {
        padding: 10px;
        padding-top: 0;
    }
    .bar_navigation {
        width: 23px;
        height: 3px;
        margin: 3px;
        background-color: #162b4d;
        display: flex;
    }
    .header_title_page {
        display: flex;
        width: fit-content;
        flex-direction: column-reverse;
        height: 93px;
        padding-bottom: 30px;
    }
    .text-header {
        font-size: 2rem;
    }
    .header_title_page {
        display: flex;
        width: fit-content;
    }
    .footer-wrap {
        display: flex;
        padding-top: 21px;
        line-height: 1.5;
        flex-direction: column;
        font-weight: 100;
        height: 120px;
    }
    .header-text {
        padding: 25px;
    }
    .section2 {
        display: flow-root;
    }
    .section {
        flex-direction: column;
    }
    .post:last-child .section2 {
        display: block;
    }
    .header-navigation {
        display: block;
        height: auto;
    }
    .header-navigation nav {
        display: none;
    }
    .header-navigation h1 {
        text-align: center;
    }
    img.section1 {
        width: 100%;
        object-fit: cover;
    }
    .section_news {
        margin: 10px 0 0px 0px;
    }
    .post .block_1 {
        flex-basis: 180px;
    }
    main {
        flex-flow: column nowrap;
    }
    .section {
        margin: 0;
    }
    .post {
        flex-flow: column nowrap;
    }
    .section .post:nth-child(even) .section2 {
        order: 0;
        text-align: left;
        padding: 20px 35px 20px 18px;
    }
    .l-side .post {
        width: auto
    }
    .post:nth-child(even) .date_publish {
        right: 5px;
        left: auto;
    }
    .post:last-child .date_publish {
        margin-bottom: 20px;
    }
    .footer {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}