.tm-col-md-reverse {
    flex-direction: row-reverse;
}

.tm-bg-color-primary {
    background-color: #76cdd8;
}

.tm-text-color-primary {
    color: #76cdd8;
}

.tm-pricing-table:hover .tm-pricing-discount {
    margin: 0;
    display: block;
    opacity: 1;
}

.tm-pricing-discount__star {
    color: red;
}

.tm-pricing-discount__text {
    color: #24d4d4;
}

.tm-col-md-reverse {
    flex-direction: row-reverse;
}

.tm-card>div:last-child {
    overflow: hidden;
    position: relative;
    transition: .25s;
}

.tm-card>div:last-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    margin: -50px;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #76cdd8;
    color: #76cdd8;
    opacity: 0;
    transition: .25s;
}

.tm-card:hover>div:last-child:after {
    opacity: 1;
}

.tm-card.tm-col-md-reverse>div:last-child:after {
    left: 0;
}

.tm-card.tm-col-md-reverse>div:last-child:hover:after {
    opacity: 1;
}

.tm-card:hover>div:last-child {
    color: #76cdd8;
}

p.tm-text-color-white.small.tm-font-thin.mb-0 {
    color: #ffffff;
}

.tm-flex-center.tm-flex-col p {
    color: #666;
}

.tm-pricing-table:hover a {
    background-color: rgb(118, 205, 216);
    border-color: rgb(118, 205, 216);
}

.btn-primary:hover {
    background-color: rgb(118, 205, 216);
    border-color: rgb(118, 205, 216);
}

.btn-primary {
    background: rgb(0, 127, 127);
    border-color: rgb(0, 127, 127);
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-center .btn-primary:hover {
    background-color: #24d4d4;
}

.tm-card:hover img {
    transform: scale(1.1);
    transition: transform 1s ease;
}

.tm-mb-30 img:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-bg-color-secondary {
    background-color: rgb(0, 127, 127);
}

.btn-secondary {
    background: rgb(0, 127, 127);
}

.btn-secondary:hover {
    background: rgb(118, 205, 216);
}

.tm-pricing-table {
    border: 1px solid rgb(0, 127, 127);
    transition: .25s;
}

.tm-contact-form {
    z-index: 1;
    margin: -3rem auto;
}

.tm-form-header {
    background: #24d4d4;
}

.tm-contact-form input:focus,
.tm-contact-form textarea:focus,
.tm-contact-form select:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
    outline: none;
}