* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
}

footer,
header {
    display: block;
}

body {
    background-color: $body-back-color;
}

.header {
    background-image: $background-img;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: 100% 50%;
    border-bottom-right-radius: 40%;
}

.text-style {
    font-weight: bold;
    font-family: $font-settings-source;
}

.landing-logo {
    .landing-logo span {
        text-align: center;
    }
}

@mixin logo($color) {
    display: flex;
    padding-top: 10px;
    font-family: $font-settings;
    p {
        color: $color;
        flex-direction: column;
        display: flex;
        margin-left: 20px;
        font-weight: bold;
        font-size: 1.4rem;
    }
    span {
        font-weight: normal;
        font-size: 0.6rem;
        margin-top: -5px;
        align-self: center;
    }
    img {
        height: 50px;
        width: 50px;
    }
}

@mixin button-style {
    padding: 12px 40px;
    background-color: $button-color;
    color: #ffffff;
    border: none;
    font-family: $font-settings-source;
    font-weight: bold;
    border-radius: 3px;
}

.header-wrap {
    padding-left: 140px;
    .landing-logo {
        @include logo($black-color);
    }
    .header_heading {
        @extend .text-style;
        padding-top: 70px;
        padding-bottom: 60px;
        font-size: 4rem;
        color: $black-color;
        position: relative;
        width: 500px;
        z-index: 2;
        &:after {
            content: '';
            position: absolute;
            top: 165px;
            bottom: 88px;
            right: 224px;
            height: 56px;
            width: 279px;
            background-color: $background-text-color;
            z-index: -1;
        }
    }
    .header_text {
        width: 690px;
        font-family: $font-settings;
        color: $black-color;
        width: 690px;
        font-size: 1.2rem;
        line-height: 1.4;
        letter-spacing: 0.2px;
    }
    .header_button {
        margin-top: 70px;
        @include button-style;
    }
    .login {
        margin-left: 80px;
        color: white;
        font-family: $font-settings-source;
        font-size: 1.15rem;
    }
}

.section {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section_text {
        font-size: 2.5rem;
        font-family: $font-settings-source;
        font-weight: map-get($font-weight, "bold");
        color: $black-color;
        text-align: center;
        width: 2000px;
        position: relative;
        z-index: 2;
        &:after {
            content: '';
            position: absolute;
            top: 6px;
            bottom: 88px;
            right: 800px;
            ;
            height: 42px;
            width: 191px;
            background-color: $background-text-color;
            z-index: -2;
        }
    }
}

.section_card_wrap {
    margin: 20px 420px;
}

.section_card {
    display: flex;
    padding: 10px;
    border-radius: 3px;
    background-color: $black-background;
    margin-bottom: 10px;
    .section_card_img {
        width: 971px;
        height: 285px;
    }
    .section_card_right_container {
        color: $gray-text-color;
        padding: 30px 55px;
        display: flex;
        flex-flow: column;
        align-items: center;
        font-family: $font-settings;
    }
    .section_card_heading {
        color: ivory;
        font-size: 1.2rem;
        margin-bottom: 60px;
        font-weight: map-get($font-weight, "bold");
        font-family: $font-settings-source;
    }
    .section_card_text {
        line-height: 1.7;
        letter-spacing: 0.6px;
    }
    .section_link {
        margin-top: 30px;
        color: $gray-text-color;
    }
}

.section_banner {
    background-image: linear-gradient(to right, $start-grad, $end-grad);
    width: 1000px;
    margin: 80px 400px;
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    .section_banner_text_wrap {
        font-family: $font-settings;
        .section_banner_heading {
          font-family: $font-settings-source;
            font-size: 1.65rem;
            color: $black-color;
            font-weight: map-get($font-weight, "bold");
            width: 400px;
            position: relative;
            z-index: 3;
            &:after {
                content: '';
                position: absolute;
                top: 4px;
                bottom: 88px;
                right: 233px;
                height: 26px;
                width: 60px;
                background-color: $background-text-color;
                z-index: -3;
            }
        }
        .section_banner_text {
            color: $gray-text-color;
        }
    }
    .section_banner_button {
        @include button-style;
        margin: 20px;
    }
}

.footer {
    background-color: $black-background;
    color: $gray-text-color;
    z-index: -4;
    margin-top: -150px;

    .footer-wrap {
        display: flex;
        text-align: center;
        justify-content: space-around;
        padding: 130px 100px 55px;
    }
    .footer_logo.landing-logo {
        @include logo($gray-text-color)
    }
    .footer_text {
        width: 300px;
        text-align: left;
        font-family: $font-settings;
        line-height: 1.4;
    }
    .footer-cr {
        font-family: $font-settings;
    }
}