$background-img:url(../img/m-h-day.jpg);
$font-settings: 'Hind', sans-serif;
$black-color:#2b2e3b;
$background-text-color: #14a0c7;
$button-color:#699900;
$font-settings-source:'Source Sans Pro', sans-serif;
$font-weight: ("normal": normal, "bold": bold);
$gray-text-color:#c0c3ce;

$black-background:#21232e;
$start-grad:#679707;
$end-grad:#2d5bd8;
$body-back-color:white;
