$background-img:url(../img/m-h-night.jpg);
$font-settings: 'Fresca', sans-serif;
$background-text-color: #ff4e33;
$button-color:#e3ac00;
$gray-text-color:#c0c3ce;
$black-color:#fff;
$black-background:#3b3f50;
$start-grad:#db9f08;
$end-grad:#932d52;
$body-back-color:#21232e;
$font-settings-source:'Source Sans Pro', sans-serif;
$font-weight: ("normal": normal, "bold": bold);




