.wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  background-color: rgba(0, 0, 0, 0.7);
}
.return {
  color: #f2d64b;
  font-size: 23px;
}
.return:visited {
  color: #f2d64b;
  background-color: transparent;
  text-decoration: none;
}
.return:hover {
  color: #f2d64b;
  background-color: transparent;
  text-decoration: none;
}
.return:active {
  color: #f2d64b;
  background-color: transparent;
  text-decoration: none;
}
