* {
    padding: 0;
    margin: 0;
}

.section {
    background-color: aliceblue;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
}

.buttons .section_button_start  {
    padding: 10px 15px;
    background-color: ghostwhite;
}
.buttons .section_button_skip  {
  padding: 10px 15px;
  background-color: ghostwhite;
}


.question-response .question {
    text-align: center;
}

.question-response .responses {
    display: flex;
    justify-content: space-around;
    margin: 50px 30px;
}

.question-response .responses .response {
    display: flex;
    border: 1px solid rgb(189, 183, 183);
    padding: 7px;
    text-align: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.result .footer {
    display: flex;
    margin: 15px;
    font-size: 1.15rem;
}