.app {
  margin: 0 auto;
  max-width: 900px;
}
.elements-border {
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 5%;
  padding: 10px;
  height: fit-content;
}
.App {
  background: aliceblue;
}
.size-wrapper {
  height: max-content;
}
.img-logo {
  margin: 30px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
